.page-footer {
  background-color: getBg-color('primary');
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  text-align: center;

  @include desktop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    text-align: left;
  }
}

.page-footer__logo {
  @extend %link;

  display: inline-block;

  color: getColor('general-white');

  margin-bottom: 20px;
}

.social-wrap {
  margin-bottom: 60px;

  @include desktop {
    margin-bottom: 0px;
  }
}

.social-wrap__heading {
  margin-bottom: 20px;

  @include font(14, 700, 16, 0.03);

  text-transform: uppercase;

  color: getColor('general-white');
}

.social-group__link--footer {
  background-color: getBg-color('footer-icons');
  color: getColor('general-white');

  &:hover,
  &:focus {
    background-color: getColor('accent');
  }
}

.page-footer__wrap {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }

  @include desktop {
    width: 507px;
    justify-content: space-between;
  }
}
