.subscribe-form {
  @include desktop {
    @include centerdFlex();
  }
}

.subscribe__heading {
  margin-bottom: 20px;

  @include font($fw: 700, $lh: 16);

  text-transform: uppercase;

  color: getColor('general-white');

  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.subscribe-form__input {
  width: 100%;
  display: inline-block;

  padding: 15px;
  margin-bottom: 20px;

  border: getBorder('input');
  border-radius: $primary-border-radius;

  color: getColor('address');
  background-color: transparent;

  &::placeholder {
    @include font($lh: 20);

    letter-spacing: 0.03em;

    color: getColor('address');
  }

  @include tablet {
    max-width: 450px;
  }

  @include desktop {
    margin-right: 12px;
    margin-bottom: 0;

    width: 358px;
  }
}

.subscribe-form__button {
  @include centerdFlex();

  margin-left: auto;
  margin-right: auto;

  transition: gettransition(background-color);

  &:hover,
  &:focus {
    background-color: getColor('accent-hover');
  }
}

.subscribe-form__icon {
  display: inline-block;

  margin-left: 10px;

  width: 24px;
  height: 24px;

  fill: currentColor;
}
