.logo {
  font-family: 'Raleway', sans-serif;
  @include font(24, 700, 28, 0.03);

  color: getColor('logo');

  &__accent {
    color: getColor('accent');
  }

  @media screen and (min-width: 1200px) {
    @include font(26, 700, 31, null);
  }
}
