.person-list {
  @extend %list;

  text-align: center;

  @media screen and (min-width: 768px) {
    @include centerdFlex();

    flex-wrap: wrap;

    margin-left: calc(-1 * $main-gap);
    margin-bottom: calc(-1 * $main-gap);
  }
}

.person__item {
  background-color: getBg-color('general-white');
  box-shadow: $box-shadow-primary;
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: $main-gap;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: $main-gap;
    margin-bottom: $main-gap;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);

    flex-wrap: nowrap;

    margin-left: $main-gap;
    margin-bottom: $main-gap;
  }
}

.person-meta {
  padding-top: $main-gap;
  padding-bottom: $main-gap;
}

.person-meta__user {
  color: getColor('secondary');

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.person-meta__position {
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 16px;
}
